@import '~sfui/dist/Styles/SFMedia/SFMedia.module.scss';

.innerViews {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: $sf-media-sm-width) {
  .innerViews {
    height: auto;
  }
}

@media screen and (min-width: $sf-media-xl-width) {
  .innerViews {
    &.isBusinessCard {
      height: 100%;
      display: grid;
      grid-template-rows: minmax(0, 1fr);

      .innerView {
        max-width: unset;
      }
    }
  }
}
