@import '~sfui/dist/Styles/SFColors/SFColors.module.scss';
@import '~sfui/dist/Styles/SFMedia/SFMedia.module.scss';
@import '../../../Mixins/BillingCommon.module.scss';

.nextInvoice {
  @include billingContent;
  gap: 4px;
  border-top: 1px solid $sf-grey-100;
}

:global(.nightMode) {
  .nextInvoice {
    @include billingContent(false);
    border-color: $sf-grey-700;
  }
}
