@import '~sfui/dist/Styles/SFMedia/SFMedia.module.scss';

.completeDebitInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 16px;

  .cardContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .icon {
      padding-bottom: 24px;
    }

    .title {
      margin: 0;
      padding-bottom: 12px;
    }

    .button {
      padding-top: 36px;
    }
  }
}

@media screen and (min-width: $sf-media-sm-width) {
  .completeDebitInformation {
    width: 720px;
    height: 795px;
  }
}

@media screen and (min-width: $sf-media-md-width) {
  .completeDebitInformation {
    width: 642px;
    height: 654px;
  }
}

@media screen and (min-width: $sf-media-lg-width) {
  .completeDebitInformation {
    width: 604px;
    height: 584px;
  }
}

@media screen and (min-width: $sf-media-xl-width) {
  .completeDebitInformation {
    width: 764px;
    height: 764px;
  }
}

@media screen and (min-width: $sf-media-xxl-width) {
  .completeDebitInformation {
    width: 608px;
    height: 795px;
  }
}
