.agencyBillingItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 0;

  .description {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .title {
      text-transform: uppercase;
    }
  }

  .actions {
    display: flex;
    gap: 12px;
  }
}
